version: '3.8'

services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: coal_fire_db
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: chakaton
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://dev:chakaton@db:5432/coal_fire_db
    depends_on:
      db:
        condition: service_started
    restart: unless-stopped
    volumes:
      - ./src:/app/src


volumes:
  postgres_data:
